<h1 mat-dialog-title>{{ isEdit ? 'Modifier' : 'Ajouter' }} un Niveau</h1>
<form [formGroup]="niveauForm">
  <mat-dialog-content>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nom du Niveau</mat-label>
      <input matInput formControlName="nom" placeholder="Nom du Niveau" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" placeholder="Description"></textarea>
    </mat-form-field>

<!--    <mat-form-field *ngIf="isEdit" appearance="fill" class="full-width">-->
<!--      <mat-label>Date de création</mat-label>-->
<!--      <input matInput formControlName="dateCreation" [matDatepicker]="picker" placeholder="MM/DD/YYYY" [disabled]="true">-->
<!--      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--      <mat-datepicker #picker></mat-datepicker>-->
<!--      <mat-hint>MM/DD/YYYY</mat-hint>-->
<!--    </mat-form-field>-->
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">Annuler</button>
    <button mat-raised-button color="primary" (click)="onSave()">Enregistrer</button>
  </mat-dialog-actions>
</form>
