/* Styles pour la barre latérale */
.mat-nav-list {
  padding: 8px; /* Réduire le padding autour de la liste */
  box-shadow: none; /* Supprimer l'ombre autour de la liste */
  border-radius: 0; /* Supprimer l'arrondi aux coins */
  background-color: #3f51b5; /* Garder la couleur de fond */
  font-size: 15px; /* Réduire la taille de la police */
}

/* Les styles pour les icônes et les éléments de liste */
.mat-icon {
  margin-right: 8px; /* Réduire l'espace entre l'icône et le texte */
  vertical-align: middle;
}

.mat-list-item {
  line-height: 40px; /* Réduire la hauteur de ligne pour diminuer l'espace */
}

.mat-list-item span {
  display: inline-block;
  vertical-align: middle;
}

/* Lien actif */
.active-link {
  background-color: #b6fafa; /* Couleur de fond pour le lien actif */
  color: black; /* Couleur du texte pour le lien actif */
  font-weight: bold; /* Met le texte en gras */
  font-size: medium; /* Réduire la taille du texte actif */
}
