<mat-nav-list>

  <a mat-list-item routerLink="/collaborateurs" routerLinkActive="active-link">
    <mat-icon mat-list-icon>people</mat-icon>
    <span mat-line>Collaborateurs</span>
  </a>

  <a mat-list-item routerLink="/conges" routerLinkActive="active-link">
    <mat-icon mat-list-icon>date_range</mat-icon>
    <span mat-line>Congés</span>
  </a>

  <a mat-list-item routerLink="/jours-feries" routerLinkActive="active-link">
    <mat-icon mat-list-icon>event_available</mat-icon>
    <span mat-line>Jours Fériés</span>
  </a>

  <!-- Nouveau lien pour Équipe -->
  <a mat-list-item routerLink="/equipe" routerLinkActive="active-link">
    <mat-icon mat-list-icon>group_work</mat-icon>
    <span mat-line>Équipe</span>
  </a>

  <!-- Nouveau lien pour Niveau -->
  <a mat-list-item routerLink="/niveau" routerLinkActive="active-link">
    <mat-icon mat-list-icon>bar_chart</mat-icon>
    <span mat-line>Niveau</span>
  </a>

</mat-nav-list>
