<!--&lt;!&ndash; app.component.html &ndash;&gt;-->
<!--<app-navbar></app-navbar>-->
<!--<div class="container-fluid">-->
<!--  <div class="row">-->
<!--    <div class="col-md-2">-->
<!--      <mat-sidenav mode="side" opened>-->
<!--        <app-sidebar></app-sidebar>-->
<!--      </mat-sidenav>-->
<!--    </div>-->
<!--    <div class="col-md-10">-->
<!--      <div class="content">-->
<!--        <div class="row justify-content-center">-->
<!--          <div class="col-12">-->
<!--            <app-indicators ></app-indicators>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row justify-content-center">-->
<!--          <div class="col-12">-->
<!--            <app-calendar ></app-calendar>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<app-footer></app-footer>-->

<router-outlet>
</router-outlet>
<app-footer></app-footer>
