/* Footer */
.mat-toolbar.footer {
  background-color: #f8f9fa; /* Couleur de fond si nécessaire */
  color: #3172af;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0; /* Ajustez le padding pour l'espacement vertical */
  border-top: 1px solid #ddd; /* Ligne supérieure pour délimiter le footer */
  margin-top: auto; /* Pousse le footer vers le bas lorsque le contenu est insuffisant */
}

/* Centrer le contenu dans le footer */
.mat-toolbar.footer span {
  margin: 0;
  font-size: 0.9rem; /* Taille de la police pour plus de cohérence */
}
