.full-width {
  width: 100%;
}

.mat-dialog-title {
  font-weight: bold;
  text-align: center;
}

.mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 24px;
}

.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
}

.mat-form-field {
  margin-bottom: 16px;
  width: 100%;
}

textarea {
  resize: vertical;
}

.mat-input-element {
  background-color: #f5f5f5;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #f5f5f5;
}

.mat-form-field-appearance-fill .mat-form-field-infix {
  border-radius: 4px;
  padding: 8px 12px;
}

.mat-form-field-appearance-fill.mat-focused .mat-form-field-flex {
  background-color: transparent;
}

.color-picker-container {
  position: relative;
  display: flex;
  align-items: center;
}

#actualColorPicker {
  position: absolute;
  top: 50%;
  right: 40px; /* Adjust this value to position next to the icon */
  transform: translateY(-50%);
  z-index: 1000;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px;
}

.mat-icon-button {
  position: relative; /* Ensures the icon stays in place */
  z-index: 1; /* Ensure the icon is above the color picker */
}


input::placeholder {
  color: #aaa;
}

.mat-icon-button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
