<app-navbar></app-navbar>
<div class="main-container">
  <app-sidebar class="sidebar"></app-sidebar>
  <div class="content">
    <div class="head">
      <h1>Liste des Congés</h1>
      <button mat-raised-button color="primary" (click)="openAddEditLeaveModal()">
        Déclarer un congé
      </button>
    </div>

    <div class="table-container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 holiday-table">
        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef class="head-table">#</th>
          <td mat-cell *matCellDef="let element; let i = index;">{{i + 1}}</td>
        </ng-container>
        <ng-container matColumnDef="dateDebut">
          <th mat-header-cell *matHeaderCellDef class="head-table">Date de début</th>
          <td mat-cell *matCellDef="let element" class="minimize-column">{{ element.date_debut | date }}</td>
        </ng-container>

        <ng-container matColumnDef="dateFin">
          <th mat-header-cell *matHeaderCellDef class="head-table">Date de fin</th>
          <td mat-cell *matCellDef="let element" class="minimize-column">{{ element.date_fin | date }}</td>
        </ng-container>

        <!-- Colonne Email du Collaborateur -->
        <ng-container matColumnDef="collaborateur">
          <th mat-header-cell *matHeaderCellDef class="head-table">Email du Collaborateur</th>
          <td mat-cell *matCellDef="let element" class="minimize-column">{{ element.collaborateur_email }}</td>
        </ng-container>

        <ng-container matColumnDef="nombreJoursPris">
          <th mat-header-cell *matHeaderCellDef class="head-table">Nombre de jours pris</th>
          <td mat-cell *matCellDef="let element" class="minimize-column">{{ element.nombre_jours_pris }}</td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef class="head-table">Description</th>
          <td mat-cell *matCellDef="let element" class="minimize-column">{{ element.description }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="head-table">Actions</th>
          <td mat-cell *matCellDef="let element" class="minimize-column">
            <button mat-icon-button color="primary" (click)="openAddEditLeaveModal(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteLeave(element.id_conge)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <mat-paginator [length]="dataSource.data.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25]" aria-label="Select page"></mat-paginator>
  </div>
</div>

<div *ngIf="showDeleteConfirmation" class="delete-confirmation-overlay">
  <div class="delete-confirmation-dialog">
    <h2>Confirmer la suppression</h2>
    <p>Êtes-vous sûr de vouloir supprimer cet élément ?</p>
    <button mat-button color="warn" (click)="confirmDelete()">Supprimer</button>
    <button mat-button (click)="closeDeleteConfirmation()">Annuler</button>
  </div>
</div>
