<app-navbar></app-navbar>
<div class="main-container">
  <app-sidebar class="sidebar"></app-sidebar>
  <div class="content">
    <div class="head">
      <h1>Liste des Collaborateurs</h1>
      <button mat-raised-button color="primary" (click)="openAddEditCollaborateurModal()">Ajouter un Collaborateur</button>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 holiday-table">
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef class="head-table">#</th>
        <td mat-cell *matCellDef="let element; let i = index;">{{i + 1}}</td>
      </ng-container>
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef class="head-table">Nom</th>
        <td mat-cell *matCellDef="let element" class="minimize-column">{{ element.nom }}</td>
      </ng-container>

      <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef class="head-table">Prénom</th>
        <td mat-cell *matCellDef="let element" class="minimize-column">{{ element.prenom }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef class="head-table">Email</th>
        <td mat-cell *matCellDef="let element" class="minimize-column">{{ element.email }}</td>
      </ng-container>

      <!-- Modification ici : Afficher le nom de l'équipe -->
      <ng-container matColumnDef="equipeNom">
        <th mat-header-cell *matHeaderCellDef class="head-table">Équipe</th>
        <td mat-cell *matCellDef="let element" class="minimize-column">{{ element.equipe.nom }}</td>
      </ng-container>

      <!-- Modification ici : Afficher le nom du niveau -->
      <ng-container matColumnDef="niveauNom">
        <th mat-header-cell *matHeaderCellDef class="head-table">Niveau</th>
        <td mat-cell *matCellDef="let element" class="minimize-column">{{ element.niveau.nom }}</td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef class="head-table">Type</th>
        <td mat-cell *matCellDef="let element" class="minimize-column">{{ element.type }}</td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef class="head-table">Rôle</th>
        <td mat-cell *matCellDef="let element" class="minimize-column">{{ element.role }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="head-table">Actions</th>
        <td mat-cell *matCellDef="let element" class="minimize-column">
          <button mat-icon-button color="primary" (click)="openAddEditCollaborateurModal(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteCollaborateur(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <nav aria-label="Page navigation example" class="pagination-nav">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="currentPage === 0">
          <button mat-raised-button color="primary" (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 0">
            Précédent
          </button>
        </li>
        <li class="page-item" *ngFor="let page of paginationArray()" [class.active]="page === currentPage">
          <button mat-raised-button color="primary" (click)="onPageChange(page)">
            {{ page + 1 }}
          </button>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages - 1">
          <button mat-raised-button color="primary" (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages - 1">
            Suivant
          </button>
        </li>
      </ul>
    </nav>
     </div>
</div>

<div *ngIf="showDeleteConfirmation" class="delete-confirmation-overlay">
  <div class="delete-confirmation-dialog">
    <h2>Confirmer la suppression</h2>
    <p>Êtes-vous sûr de vouloir supprimer cet élément ?</p>
    <button mat-button color="warn" (click)="confirmDelete()">Supprimer</button>
    <button mat-button (click)="closeDeleteConfirmation()">Annuler</button>
  </div>
</div>
